*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-light{
    --bg-container: #fffdde;
    --bg-header-container: black;
    --header-container-color: white;
    --bg--button: black;
    --button-color: white;
    --text-color: black;    
}

.container-dark{
    --bg-container: black;
    --bg-header-container: #fffdde;
    --header-container-color: black;
    --bg--button: #fffdde;
    --button-color: black;
    --text-color: white;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: var(--bg-container); 
    transition: 1s;
    
}

.header-container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-header-container);
    color: var(--header-container-color);
    margin: 10px 10px;
    border-radius: 5px;
    
}

.header-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.header-details span{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

.header-nav{ 
    list-style: none;
    display: flex;
    gap: 40px;
}
.header-nav li{
    font-size: 22px;
}

.header-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.header-mode i{
    font-size: 20px;
    margin: 0 8px;
    
}

.toggle-container{
    background: #c2c2c3;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    position: relative;
    transition: 1s;
    
    
}

.toggle-circle{
    background: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    /* left: 1px; */
    cursor: pointer;
    transition: 1s;

    
     
}
.toggle-light{
    left: 2px;
}
.toggle-dark{
    left: 26px;
}

.body-container{
    margin: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.body-content{
    width: 35%;
}

.body-content span{
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color); 
}

.body-content button{
    height: 40px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0; 
    align-items: center; 
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--bg--button);
    color: var(--button-color);
}

.body-content button i{
    padding-left: 5px;
    font-weight: 600;
}

.body-content p{
    column-count: 2;
    column-rule: 1px solid var(--text-color);
    column-gap: 35px;
    color: var(--text-color);
}
.body-img{
    /* border: 2px solid red; */
    margin: 40px;
    /* padding-left: 20px; */
    background-image: url("./image/sky-mvehfqz6w2ges2dj.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
}

.body-img img{
    width: 450px;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.name{
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    margin-top: 150px;
    border-bottom: 1px dashed var(--text-color);
    
}